# ==========================================
# MONTARAW BACKEND PRODUCTION ENVIRONMENT VARIABLES
# ==========================================

PORT=5000
NODE_ENV=production


DATABASE_URL=""
DIRECT_URL=""

JWT_SECRET=""
JWT_EXPIRES_IN="7d"

# 3. Dedicated Admin Credentials
DEFAULT_ADMIN_EMAIL=""
DEFAULT_ADMIN_PASS="[YOUR_ADMIN_PASSWORD]"

# 4. Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME="[YOUR_CLOUDINARY_CLOUD_NAME]"
CLOUDINARY_API_KEY="[YOUR_CLOUDINARY_API_KEY]"
CLOUDINARY_API_SECRET="[YOUR_CLOUDINARY_API_SECRET]"

# 5. Razorpay Payment Gateway Configuration
# Live: rzp_live_... | Test: rzp_test_...
RAZORPAY_KEY_ID="rzp_test_yourKeyIdHere"
RAZORPAY_KEY_SECRET="yourKeySecretHere"
RAZORPAY_WEBHOOK_SECRET="yourWebhookSecretHere"
